---
import Layout from "../../layouts/Layout.astro";
import Botones from  "../../components/Botones.astro"
import Header from "../../components/Header.astro";

const url = new URL(Astro.request.url);
const identificador = url.searchParams.get('identificador') ?? '';
const tipoEquipo = url.searchParams.get('tipoEquipo') ?? '';
const modelo = url.searchParams.get('modelo') ?? '';
const inventario = url.searchParams.get('inventario') ?? '';
const marca = url.searchParams.get('marca') ?? '';
const serie = url.searchParams.get('serie') ?? '';
const capacidad = url.searchParams.get('capacidad') ?? '';
const procesadorTipo = url.searchParams.get('procesadorTipo') ?? '';
const procesadorVelocidad = url.searchParams.get('procesadorVelocidad') ?? '';
const RAM = url.searchParams.get('RAM') ?? '';
const estado = url.searchParams.get('estado') ?? '';
const observaciones = url.searchParams.get('observaciones') ?? '';
---

<Layout title="Resguardo">
    <Botones />
    <Header />

    <div class="mt-8">
        <h1 class="text-center text-2xl font-bold">CONTROL DE BIEN INFORMÁTICO</h1>
        <div class="flex flex-col space-y-4 mt-4 mx-auto max-w-lg">
            <div>
                <label>IDENTIFICADOR</label>
                <input type="text" value={identificador} readonly />
            </div>
            <div>
                <label>TIPO DE EQUIPO</label>
                <input type="text" value={tipoEquipo} readonly />
            </div>
            <div>
                <label>MODELO</label>
                <input type="text" value={modelo} readonly />
            </div>
            <div>
                <label>NÚMERO DE INVENTARIO</label>
                <input type="text" value={inventario} readonly />
            </div>
            <div>
                <label>MARCA</label>
                <input type="text" value={marca} readonly />
            </div>
            <div>
                <label>NÚMERO DE SERIE</label>
                <input type="text" value={serie} readonly />
            </div>
            <div>
                <label>CAPACIDAD DISCO DURO</label>
                <input type="text" value={capacidad} readonly />
            </div>
            <div>
                <label>TIPO PROCESADOR</label>
                <input type="text" value={procesadorTipo} readonly />
            </div>
            <div>
                <label>VELOCIDAD PROCESADOR</label>
                <input type="text" value={procesadorVelocidad} readonly />
            </div>
            <div>
                <label>CAPACIDAD MEMORIA RAM</label>
                <input type="text" value={RAM} readonly />
            </div>
            <div>
                <label>ESTADO ACTUAL</label>
                <input type="text" value={estado} readonly />
            </div>
            <div>
                <label>OBSERVACIONES</label>
                <textarea readonly>{observaciones}</textarea>
            </div>
        </div>
    </div>
</Layout>